module.exports = {
  apps: [
    {
      name: '{{ app_name }}',
      port: '{{ app_port }}',
      exec_mode: 'cluster',
      instances: 'max',
      script: './.output/server/index.mjs',
      env: {
        NODE_ENV: 'production',
      },
    },
  ],
}