module.exports = {
  apps: [
    {
      name: '{{ app_name }}',
      port: '{{ app_port }}',
      exec_mode: 'cluster',
      instances: 1,
      script: './.output/server/index.mjs',
      env: {
        NODE_ENV: 'production',
        PORT: '{{ app_port }}',
        NITRO_PORT: '{{ app_port }}',
        HOST: '127.0.0.1',
        NITRO_HOST: '127.0.0.1',
      },
    },
  ],
}